@use "../helpers/" as *;

.card {
	position: relative;
	img {
		height: 100%;
	}
	p {
		font-family: $secondary-font;
		position: absolute;
		color: white;
		bottom: 0;
		font-size: 3.2rem;
		font-weight: 300;
		text-transform: uppercase;
		width: 70%;
		padding: 3rem 4rem;
		line-height: 3.2rem;
	}
}
