@use "../helpers/" as *;

.footer {
	%gap {
		display: flex;
		flex-direction: column;
		gap: 2.5rem;
	}
	background-color: black;
	padding: 4.5rem;
	&-container {
		max-width: 111rem;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		@include display(tab-port) {
			flex-direction: column;
		}
	}
	&__left {
		@extend %gap;
		align-items: flex-start;

		.brand {
			max-width: 14.4rem;
		}

		ul {
			list-style: none;
			display: flex;
			gap: 3.2rem;
			a {
				font-size: 1.5rem;
			}
		}
		@include display(tab-port) {
			a {
				margin: 0 auto;
			}
			ul {
				margin: 0 auto;
				flex-direction: column;
				align-items: center;
				gap: 2.2rem;
			}
		}
	}
	&__right {
		@extend %gap;
		ul {
			list-style: none;
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			gap: 1.6rem;
		}
		.copyright {
			color: $very-dark-gray;
			font-size: 1.5rem;
		}
		@include display(tab-port) {
			ul {
				margin: 10px;
				justify-content: center;
			}
			.copyright {
				margin: 0 auto;
				text-align: center;
			}
			margin-top: 4rem;
		}
	}
}
