@use "../helpers/" as *;

.navbar {
	// border: 1px solid red;
	// padding: 0 4rem;
	&-container {
		display: flex;
		max-width: 111rem;
		justify-content: space-between;
		margin: 0 auto;
	}
	&__brand {
		font-style: italic;
	}
	&__list {
		display: flex;
		align-items: center;
		list-style: none;
		gap: 3.2rem;

		a {
			font-size: 1.5rem;
			color: #fff;
			text-decoration: none;
		}
		@include display(phone) {
			display: none;
		}
	}
	&__button {
		display: none;
		@include display(phone) {
			display: grid;
			place-items: center;
		}
	}
}
