@use "../helpers/" as *;

.navbar {
	background-color: inherit;

	&-container {
		display: flex;
		max-width: 111rem;
		margin: 0 auto;
		// padding: 0 2.4rem;
		padding-top: 6.5rem;
		justify-content: space-between;
		align-items: center;
	}
	&__brand {
	}
	&__list {
		display: flex;
		align-items: center;
		list-style: none;
		gap: 3.2rem;

		&-item {
			a {
				font-size: 1.5rem;
			}
		}

		@include display(phone) {
			// display: none;
		}
	}
	&__button {
		display: none;
		// @include display(phone) {
		// 	display: grid;
		// 	place-items: center;
		// 	cursor: pointer;
		// }
	}
	@include display(phone) {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 40;
		&-container {
			padding: calc(6.5rem / 2) 2.4rem;
			// padding-top: 6.5rem;
			background-color: black;
		}
		&__brand {
			img {
				max-width: 14.4rem;
			}
		}
		&__list {
			display: none;
		}
		&__button {
			display: grid;
			place-items: center;
			cursor: pointer;
		}
	}
}
