@use "../helpers/" as *;

.navbar {
	&-container {
		display: flex;
		// max-width: 111rem;
		// margin: 0 auto;
		justify-content: space-between;
		align-items: center;
	}
	&__brand {
		img:hover {
			transform: scale(1.3);
		}
	}
	&__list {
		display: flex;
		align-items: center;
		list-style: none;
		gap: 3.2rem;
		&-item {
			a {
				font-size: 1.5rem;
				color: #fff;
				text-decoration: none;
			}
		}

		@include display(phone) {
			display: none;
		}
	}
	&__button {
		display: none;
		@include display(phone) {
			display: grid;
			place-items: center;
			cursor: pointer;
		}
	}
}
