// sidebar
@use "../helpers/" as *;

.backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 4;
	background-color: royalblue;
	opacity: 0.4;
}
.sidebar {
	display: none;
	@include display(phone) {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 45%;
		height: 100%;
		background-color: brown;

		z-index: 6;
		transition: transform 0.3s ease-out;
		&--open {
			transform: translateX(0);
		}
		&--closed {
			transform: translateX(-100%);
		}
	}
}
