// sidebar
@use "../helpers/" as *;

.backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	background-color: royalblue;
	opacity: 0.4;
}
.sidebar {
	display: none;
	position: relative;
	@include display(phone) {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 30;
		padding: 4rem 2rem;
		background-color: black;
		&__list {
			list-style: none;
			position: absolute;
			bottom: 50%;
			&__item {
				a {
					display: block;
					font-family: $secondary-font;

					font-size: 2.4rem;
					text-transform: uppercase;
					font-weight: 300;

					padding: 1rem 0;
				}
			}
		}

		&--open {
			transform: translatey(0);
		}
		&--closed {
			transform: translatey(-100%);
		}
	}
}
