@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Alata", sans-serif;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 7.2rem;
  line-height: 7rem;
  font-weight: 300;
  border: 2px solid white;
  max-width: 65rem;
  padding: 4rem;
  padding-bottom: 2.8rem;
}
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 6.4rem;
    line-height: 6.2rem;
    max-width: 56rem;
  }
}
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 4rem;
    line-height: 3.8rem;
    padding: 2rem;
    max-width: 40rem;
  }
}
@media only screen and (max-width: 370px) {
  h1 {
    font-size: 3.2rem;
    line-height: 3rem;
    padding: 1rem;
    max-width: 30rem;
  }
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 4.8rem;
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 1024px) {
  h2 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 700px) {
  h2 {
    font-size: 3.2rem;
    line-height: 3.2rem;
    text-align: center;
  }
}

p {
  font-size: 1.5rem;
}

a {
  color: #fff;
  text-decoration: none;
  position: relative;
}
a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.6px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transition: transform 0.3s linear;
  transform: scaleX(0);
}
a:hover::after {
  transform: scaleX(0.8);
}

.navbar {
  background-color: inherit;
  z-index: 40;
}
.navbar-container {
  display: flex;
  max-width: 111rem;
  margin: 0 auto;
  padding-top: 6.5rem;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.2rem;
}
.navbar__list-item a {
  font-size: 1.5rem;
}
.navbar__button {
  display: none;
}
@media only screen and (max-width: 700px) {
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
  }
  .navbar-container {
    padding: 3.25rem 2.4rem;
    background-color: black;
  }
  .navbar__brand img {
    max-width: 14.4rem;
  }
  .navbar__list {
    display: none;
  }
  .navbar__button {
    display: grid;
    place-items: center;
    cursor: pointer;
  }
}

.card {
  position: relative;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}
.card p {
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  color: white;
  bottom: 0;
  font-size: 3.2rem;
  line-height: 3.2rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 3rem 4rem;
  max-width: 245px;
  transition: 0.2s linear;
  z-index: 10;
}
@media only screen and (max-width: 700px) {
  .card p {
    font-size: 2.4rem;
    line-height: 2.4rem;
    padding: 1rem 2rem;
  }
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
  opacity: 0.6;
  transition: 0.2s linear;
  z-index: 5;
}
.card:hover img {
  transform: rotate(-3deg) scale(1.1);
}
@media only screen and (max-width: 1024px) {
  .card:hover img {
    transform: rotate(0deg) scale(1.1);
  }
}
.card:hover::before {
  opacity: 1;
}
.card:hover p {
  transform: translateY(-5px);
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: royalblue;
  opacity: 0.4;
}

.sidebar {
  display: none;
  position: relative;
}
@media only screen and (max-width: 700px) {
  .sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    padding: 4rem 2rem;
    background-color: black;
  }
  .sidebar__list {
    list-style: none;
    position: absolute;
    bottom: 50%;
  }
  .sidebar__list__item a {
    display: block;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 300;
    padding: 1rem 0;
  }
  .sidebar--open {
    transform: translateY(0);
  }
  .sidebar--closed {
    transform: translateY(-100%);
  }
}

.footer {
  background-color: black;
  padding: 4.5rem;
}
.footer .footer__right, .footer .footer__left {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.footer-container {
  max-width: 111rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  .footer-container {
    flex-direction: column;
  }
}
.footer__left .brand {
  max-width: 14.4rem;
}
.footer__left ul {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}
.footer__left ul a {
  font-size: 1.5rem;
}
@media only screen and (max-width: 900px) {
  .footer__left a {
    margin: 0 auto;
  }
  .footer__left ul {
    flex-direction: column;
    align-items: center;
    gap: 2.2rem;
  }
}
.footer__right ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1.6rem;
}
.footer__right .copyright {
  color: dimgray;
  font-size: 1.5rem;
}
@media only screen and (max-width: 900px) {
  .footer__right {
    margin-top: 4rem;
  }
  .footer__right ul {
    margin: 10px;
    justify-content: center;
  }
  .footer__right .copyright {
    margin: 0 auto;
    text-align: center;
  }
}

/* SASS DIRECTORY
	1. =.hero
	2. =.intro
	3. =.creations
*/
.loopstudios .creations-wrapper, .loopstudios .intro-wrapper, .loopstudios .hero-wrapper {
  max-width: 111rem;
  margin: 0 auto;
}
.loopstudios-grid {
  display: grid;
  gap: 15.8rem;
  padding-bottom: 15.8rem;
}
.loopstudios .hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  height: 65rem;
  padding: 0 2.4rem;
}
@media only screen and (max-width: 700px) {
  .loopstudios .hero-wrapper {
    padding: 0 2rem;
  }
}
.loopstudios .hero__title {
  color: white;
  display: flex;
  padding-top: 12.6rem;
}
.loopstudios .hero__title h1 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
@media only screen and (max-width: 700px) {
  .loopstudios .hero {
    background-image: url("../../assets/images/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 65rem;
    padding: 0;
  }
  .loopstudios .hero__title {
    padding-top: 23.6rem;
  }
}
.loopstudios .intro {
  padding: 0 2.4rem;
}
.loopstudios .intro-wrapper {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1024px) {
  .loopstudios .intro-wrapper {
    display: grid;
    place-items: center;
    text-align: center;
  }
}
.loopstudios .intro img {
  width: 100%;
}
.loopstudios .intro__text {
  padding-top: 9.6rem;
  padding-left: 9.6rem;
  position: absolute;
  background-color: white;
  right: 0;
  bottom: 0;
  max-width: 54.5rem;
}
.loopstudios .intro__text-title {
  text-transform: uppercase;
}
.loopstudios .intro__text-desc {
  color: #8c8c8c;
  line-height: 2.5rem;
}
@media only screen and (max-width: 1024px) {
  .loopstudios .intro__text {
    width: auto;
    position: relative;
    padding-top: 4.6rem;
    padding-left: 0;
    max-width: 731px;
  }
}
.loopstudios .creations {
  padding: 0 2.4rem;
  margin: 2.5rem 0;
}
.loopstudios .creations__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 7.5rem;
}
.loopstudios .creations__header-title {
  text-transform: uppercase;
}
.loopstudios .creations__header-btn {
  border: 1px solid black;
  font-size: 1.4rem;
  padding: 1rem 3.8rem;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  cursor: pointer;
}
.loopstudios .creations__header-btn--mobile {
  display: none;
}
.loopstudios .creations__header-btn:hover {
  background: black;
  color: white;
}
@media only screen and (max-width: 700px) {
  .loopstudios .creations__header-btn {
    display: none;
  }
  .loopstudios .creations__header-btn--mobile {
    display: flex;
    justify-content: center;
    margin: 4rem auto 0 auto;
  }
}
@media only screen and (max-width: 900px) {
  .loopstudios .creations__header {
    margin-bottom: 3.5rem;
  }
}
@media only screen and (max-width: 700px) {
  .loopstudios .creations__header {
    justify-content: center;
  }
}
.loopstudios .creations__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2.7rem;
}
@media only screen and (max-width: 900px) {
  .loopstudios-grid {
    gap: 9.6rem;
    padding-bottom: 7.9rem;
  }
}

/*# sourceMappingURL=main.css.map */
