@use "../helpers/" as *;

.loopstudios {
	.hero {
		background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
			url("../../assets/images/desktop/image-hero.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
		height: 65rem;
		padding: 6.5rem 4rem;
		&__title {
			// background-color: yellow;
			color: white;
			display: flex;
			max-width: 111rem;
			margin: 0 auto;
			padding-top: 12.6rem;

			h1 {
				font-family: $secondary-font;
				font-size: 7.2rem;
				font-weight: 300;
				text-transform: uppercase;
				border: 2px solid white;
				max-width: 65rem;
				padding: 4rem;
				padding-bottom: 3rem;

				line-height: 7.2rem;
			}
		}
	}
}
